.Profile__header {
  background-color: white;
  text-align: right;
}

.Profile__sider {
  background-color: white;
  flex: 0 0 450px !important;
  height: 560px !important;
  max-width: 450px !important;
  min-width: 450px !important;
  width: 450px !important;
  padding: 20px 0 0 55px;
}

.Profile__content {
  background-color: white;
  padding: 20px 50px 0 55px;
}