:root {
  --color-skeleton-gray: #dbd9d9;
  --color-blue: #b3d3ff;
  --color-blue-dark: #20bfff;
  --color-blue-darker: #009cff;
  --color-blue-darkest: #2f54eb;
  --color-pink-light: #f4ece6;
  --color-pink: #e6dbcd;
  --color-pink-dark: #d1a9ae;
  --color-pink-darker: #c0809c;
  --color-red: #dc004e;
  --color-orange: #efc578;
  --color-orange-dark: #ec9b59;
  --color-orange-darker: #973e2e;
}